<div th:fragment="content">
<div class="row">
    <div class="col-md-3">
        <img th:src="${truyen.anhBia}"
             class="img-fluid rounded">
    </div>
    <div class="col-md-9">
        <h3 th:text="${truyen.tenTruyen}"></h3>
        <p>
            <b>Tác giả:</b>
            <span th:text="${truyen.tenTacGia}"></span>
        </p>
        <p>
            <b>Người đăng:</b>
            <span th:text="${truyen.nguoiDang.tenDangNhap}"></span>
        </p>
        <div class="mb-2">
            <span class="badge bg-secondary me-1"
                  th:each="tl : ${truyen.theLoais}"
                  th:text="${tl.tenTheLoai}">
            </span>
        </div>
        <hr>
        <h5>Danh sách chương</h5>
        <ul class="list-group">
            <li class="list-group-item"
                th:each="chap : ${dsChuong}">
                <a th:href="@{/DustNovel/chuong/{id}(id=${chap.id})}" th:text="${chap.tieuDe}"></a>
            </li>
        </ul>
    </div>
</div>
	<a th:href="@{/DustNovel/chuong/them/{id}(id=${truyen.id})}" class="btn btn-success mb-3">➕ Thêm chương</a>
</div>
